form {
    display: grid;
    margin: 0 auto;

    justify-content: center;
}

input.input{  
    height: 30px;
    width: 250px;
    background: #C4C4C4;
    border-radius: 24px;
}

button, input.login {
    background: #99DAF7;
    border-color: #99DAF7;
}