form.signup {
    display: grid;
    margin: 0 auto;
    font-family: Amaranth;
    justify-content: center;
    position: relative;
}

input.inputs{  
    height: 50px;
    width: 280px;
    background: #C4C4C4;
    border-radius: 24px;
}

button{
    background: #99DAF7;
    border-color: #99DAF7;
    height: 40px;
    width: 280px;
}

a.login{
    background: #99DAF7;
    border-color: #99DAF7;
    color: #000000;
    text-decoration: none;
    /* height: 40px; */
    padding: 10px 0;
    width: 280px;
    text-align: center;
    display: inline;
}

form.signup img {
    margin: auto;
    padding: 10px;
}

form.signup p {
    text-align: center;
    display: block;
    padding: 10px;
    margin: -70px 0px 0px 0px;
    font-size: 25px;
}
