div.greeting{
    width: 100%;
    background-color: #99DAF7;
    font-family: Amaranth;
    position: relative;
}

div.greeting  h2{
    color: #FFFFFF;
    font-size: 64px;
    font-family: 'Amaranth';
    display: inline-flex;
    margin: 0px 20px 0px 50px;
    width: auto;
    height: auto;

}

div.greeting p {
    color: #35ABEE;
    font-size: 30px;
    font-family: 'Amaranth';
    margin-left: 90px;
    display: list-item;
    list-style: url('../../assets/small-blue-cloud.png')
}

div.greeting img {
    position: relative;
    left: 60%;
}
