

.page > h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.page {
    margin: auto;
    margin-top: 10px;
    max-width: 800px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 8px;
    background: #99DAF7;
}

div > div > div > h2 {

    margin-bottom: .25rem;
    font-size: 2.5rem;

}