/*Adapted from Bootstrap Examples*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.blog-post {
  margin-bottom: 4rem;
  background: #99DAF7;
  border: 3px solid black;
  border-radius: 15px;
  padding:3px;
}
.blog-post-title {
  text-align: left;
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

#jumbotron {
  background-color: #99DAF7;
  border: 3px solid black;
  border-radius: 50px;
  margin-top: 10px;
}

#featured {
  background: #99DAF7;
}