div.greeting{
    width: 100%;
    background-color: #99DAF7;
    font-family: Amaranth;
}

div.greeting  h2{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
    font-size: 64px;

    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;

}

div.greeting p {
    color: #35ABEE;
    font-size: 30px;
    margin-left: 20px;
}