#day7forecast {
    border: 1px solid black;
}
#day7elements {
    padding-left: 3px;
    padding-right: 3px;
    border: 3px solid black;
    border-radius: 25px;
    background:#99DAF7;
}

#hour48forecast {

}

#hour48elements {
    padding-left: 3px;
    border-right: 3px;
    border: 3px solid black;
    border-radius: 25px;
    background:#99DAF7;
}