.dash
{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}

#heading
{
    background: lightgrey;
    width: 15rem;
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
}

.leaflet-container {
    height: 200px;
    width: 800px;
}

#day7elements {
    padding-left: 3px;
    padding-right: 3px;
    border: 3px solid black;
    border-radius: 25px;
    background:#99DAF7;
}

#hour48forecast {
    width: 80px;
}

#scrollbar {
    overflow-x:auto;
}

/* #table48 {
    width: 100%;
    overflow-x:hidden;
} */

#hour48elements {
    padding-left: 10px;
    border-right: 10px;
    border: 3px solid black;
    border-radius: 25px;
    background:#99DAF7;
}
