.dash
{
    margin: auto;
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    width: 1600px;
}

#heading
{
    background: lightgrey;
    width: 15rem;
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

.leaflet-container {
    height: 200px;
    width: 800px;
}

#day7elements {
    padding-left: 9px;
    padding-right: 9px;
    border: 3px solid black;
    border-radius: 25px;
    background:#99DAF7;
    border-spacing: 10px;
    text-align: center;
}

#day7forecast {
    margin-bottom: 25px;
}

#hour48forecast {
    width: 80px;
}

#scrollbar {
    overflow-x:auto;
    margin-bottom: 25px;
}

/* #table48 {
    width: 100%;
    overflow-x:hidden;
} */

#hour48elements {
    padding-left: 10px;
    border-right: 10px;
    border: 3px solid black;
    border-radius: 25px;
    background:#99DAF7;
}


